<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.archives.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.archives.entity.Customer">
        <id column="c_number" property="cNumber" />
        <result column="c_name" property="cName" />
        <result column="c_trade" property="cTrade" />
        <result column="c_nature" property="cNature" />
        <result column="c_source" property="cSource" />
        <result column="c_type" property="cType" />
        <result column="c_region" property="cRegion" />
        <result column="salesman" property="salesman" />
        <result column="address" property="address" />
        <result column="discount" property="discount" />
        <result column="remarks" property="remarks" />
        <result column="contacts" property="contacts" />
        <result column="phone" property="phone" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="version" property="version" />
    </resultMap>

    <!--&lt;!&ndash; 通用查询结果列 &ndash;&gt;-->
    <sql id="Base_Column_List">
        c_number AS "cNumber", c_name AS "cName", c_trade AS "cTrade", c_nature AS "cNature", c_source AS "cSource", c_type AS "cType", c_region AS "cRegion", salesman AS "salesman", address AS "address", discount AS "discount", remarks AS "remarks", contacts AS "contacts", phone AS "phone",create_time AS "createTime", create_user AS "createUser", update_time AS "updateTime", update_user AS "updateUser"
    </sql>

    <!--<sql id="Base_Column_List_With_Pwd">-->
		 <!--user_id AS "userId", avatar AS "avatar", account AS "account", salt AS "salt", password AS "password", name AS "name", birthday AS "birthday", sex AS "sex", email AS "email", phone AS "phone", role_id AS "roleId", dept_id AS "deptId", status AS "status", create_time AS "createTime", create_user AS "createUser", update_time AS "updateTime", update_user AS "updateUser", version AS "version"-->
	<!--</sql>-->

    <select id="selectCustomer" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from customer
        where 1=1
        <if test="searchType==''">
            and (c_number like CONCAT('%',#{search},'%')
            or c_name like CONCAT('%',#{search},'%')
            or c_trade like CONCAT('%',#{search},'%')
            or c_nature like CONCAT('%',#{search},'%')
            or c_source like CONCAT('%',#{search},'%')
            or c_type like CONCAT('%',#{search},'%')
            or c_region like CONCAT('%',#{search},'%')
            or salesman like CONCAT('%',#{search},'%')
            or address like CONCAT('%',#{search},'%')
            or discount like CONCAT('%',#{search},'%')
            or contacts like CONCAT('%',#{search},'%')
            or remarks like CONCAT('%',#{search},'%')
            or phone like CONCAT('%',#{search},'%'))
        </if>
        <if test="searchType != null and searchType != ''">
            and (${searchType} like CONCAT('%',#{search},'%'))
        </if>
    </select>

    <!--<update id="setStatus">-->
		<!--update sys_user set status = #{status} where user_id = #{userId}-->
	<!--</update>-->

    <!--<update id="changePwd">-->
		<!--update sys_user set password = #{pwd} where user_id = #{userId}-->
	<!--</update>-->

    <!--<update id="setRoles">-->
		<!--update sys_user set role_id = #{roleIds} where user_id =-->
		<!--#{userId}-->
	<!--</update>-->

    <select id="getBycName" resultType="cn.stylefeng.guns.modular.archives.entity.Customer">
        select
        <include refid="Base_Column_List"/>
        from customer where c_name = #{cName}
    </select>

</mapper>
