<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.business.mapper.MOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.business.entity.MOrder">
        <id column="o_number" property="oNumber" />
        <result column="o_type" property="oType" />
        <result column="o_ststus" property="oStstus" />
        <result column="salesman" property="salesman" />
        <result column="c_name" property="cName" />
        <result column="p_name" property="pName" />
        <result column="p_number" property="pNumber" />
        <result column="p_size" property="pSize" />
        <result column="o_quantity" property="oQuantity" />
        <result column="unit" property="unit" />
        <result column="c_o_number" property="cONumber" />
        <result column="ordertime" property="ordertime" />
        <result column="contacts" property="contacts" />
        <result column="phone" property="phone" />
        <result column="deliverydate" property="deliverydate" />
        <result column="settlementdate" property="settlementdate" />
        <result column="printtype" property="printtype" />
        <result column="onlinenumber" property="onlinenumber" />
        <result column="onlineamount" property="onlineamount" />
        <result column="orderamount" property="orderamount" />
        <result column="upload" property="upload" />
        <result column="p_description" property="pDescription" />
        <result column="c_provide" property="cProvide" />
        <result column="printask" property="printask" />
        <result column="printafterask" property="printafterask" />
        <result column="pinshaiask" property="pinshaiask" />
        <result column="waifaask" property="waifaask" />
        <result column="deliveryask" property="deliveryask" />
        <result column="description" property="description" />
        <result column="status" property="status" />
        <result column="remarks" property="remarks" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />

    </resultMap>

    <!--&lt;!&ndash; 通用查询结果列 &ndash;&gt;-->
    <sql id="Base_Column_List">
         m.o_number AS "oNumber",
        m.o_type AS "oType",
        m.o_ststus AS "oStstus",
        c.salesman AS "salesman",
        c.c_name AS "cName",
        p_name AS "pName",
        p_number AS "pNumber",
        p_size AS "pSize",
        o_quantity AS "oQuantity",
        unit AS "unit",
        c_o_number AS "cONumber",
        ordertime AS "ordertime",
        c.contacts AS "contacts",
        c.phone AS "phone",
        deliverydate AS "deliverydate",
        settlementdate AS "settlementdate",
        printtype AS "printtype",
        onlinenumber AS "onlinenumber",
        onlineamount AS "onlineamount",
        orderamount AS "orderamount",
        upload AS "upload",
        p_description AS "pDescription",
        c_provide AS "cProvide",
        printask AS "printask",
        printafterask AS "printafterask",
        pinshaiask AS "pinshaiask",
        waifaask AS "waifaask",
        deliveryask AS "deliveryask",
        description AS "description",
        m.status  AS "status",
        m.remarks AS "remarks",
        m.create_time AS "createTime",
        m.create_user AS "createUser",
        m.update_time AS "updateTime",
        m.update_user AS "updateUser"

    </sql>


    <select id="selectMOrder" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from (select * from m_order WHERE status != 'DELETED') m left JOIN  customer c ON m.c_name = c.c_number
        <!--<if test="searchType==''">-->
            <!--and (c_number like CONCAT('%',#{search},'%')-->
            <!--or c_name like CONCAT('%',#{search},'%')-->
            <!--or c_trade like CONCAT('%',#{search},'%')-->
            <!--or c_nature like CONCAT('%',#{search},'%')-->
            <!--or c_source like CONCAT('%',#{search},'%')-->
            <!--or c_type like CONCAT('%',#{search},'%')-->
            <!--or c_region like CONCAT('%',#{search},'%')-->
            <!--or salesman like CONCAT('%',#{search},'%')-->
            <!--or address like CONCAT('%',#{search},'%')-->
            <!--or discount like CONCAT('%',#{search},'%')-->
            <!--or contacts like CONCAT('%',#{search},'%')-->
            <!--or remarks like CONCAT('%',#{search},'%')-->
            <!--or phone like CONCAT('%',#{search},'%'))-->
        <!--</if>-->
        <!--<if test="searchType != null and searchType != ''">-->
            <!--and (${searchType} like CONCAT('%',#{search},'%'))-->
        <!--</if>-->
    </select>

    <select id="selectMOrderByoNumber" resultType="cn.stylefeng.guns.modular.business.entity.MOrder">
        select
        <include refid="Base_Column_List"/>
        from (select * from m_order WHERE status != 'DELETED' and o_number = #{oNumber}) m left JOIN  customer c ON m.c_name = c.c_number
        <!--<if test="searchType==''">-->
        <!--and (c_number like CONCAT('%',#{search},'%')-->
        <!--or c_name like CONCAT('%',#{search},'%')-->
        <!--or c_trade like CONCAT('%',#{search},'%')-->
        <!--or c_nature like CONCAT('%',#{search},'%')-->
        <!--or c_source like CONCAT('%',#{search},'%')-->
        <!--or c_type like CONCAT('%',#{search},'%')-->
        <!--or c_region like CONCAT('%',#{search},'%')-->
        <!--or salesman like CONCAT('%',#{search},'%')-->
        <!--or address like CONCAT('%',#{search},'%')-->
        <!--or discount like CONCAT('%',#{search},'%')-->
        <!--or contacts like CONCAT('%',#{search},'%')-->
        <!--or remarks like CONCAT('%',#{search},'%')-->
        <!--or phone like CONCAT('%',#{search},'%'))-->
        <!--</if>-->
        <!--<if test="searchType != null and searchType != ''">-->
        <!--and (${searchType} like CONCAT('%',#{search},'%'))-->
        <!--</if>-->
    </select>

    <select id="getCostByoNumber" resultType="cn.stylefeng.guns.modular.business.entity.Cost">
         select dictId,name,o_number,costnumber,IFNULL(cost,0) as cost from (
 select dict_id AS "dictId", name AS "name" from sys_dict where dict_type_id in (select dict_type_id from sys_dict_type where code="Cost")
 ) a LEFT JOIN cost c ON a.dictId = c.costnumber AND c.o_number = #{oNumber}
    </select>

</mapper>
