<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.archives.business.MOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.business.entity.MOrder">
        <id column="o_number" property="oNumber" />
        <result column="o_type" property="oType" />
        <result column="o_ststus" property="oStstus" />
        <result column="salesman" property="salesman" />
        <result column="c_name" property="cName" />
        <result column="p_name" property="pName" />
        <result column="p_number" property="pNumber" />
        <result column="p_size" property="pSize" />
        <result column="o_quantity" property="oQuantity" />
        <result column="unit" property="unit" />
        <result column="c_o_number" property="cONumber" />
        <result column="ordertime" property="ordertime" />
        <result column="contacts" property="contacts" />
        <result column="phone" property="phone" />
        <result column="deliverydate" property="deliverydate" />
        <result column="settlementdate" property="settlementdate" />
        <result column="printtype" property="printtype" />
        <result column="onlinenumber" property="onlinenumber" />
        <result column="onlineamount" property="onlineamount" />
        <result column="orderamount" property="orderamount" />
        <result column="upload" property="upload" />
        <result column="p_description" property="pDescription" />
        <result column="c_provide" property="cProvide" />
        <result column="printask" property="printask" />
        <result column="printafterask" property="printafterask" />
        <result column="pinshaiask" property="pinshaiask" />
        <result column="waifaask" property="waifaask" />
        <result column="deliveryask" property="deliveryask" />
        <result column="description" property="description" />
        <result column="status" property="status" />
        <result column="remarks" property="remarks" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />

    </resultMap>

    <!--&lt;!&ndash; 通用查询结果列 &ndash;&gt;-->
    <sql id="Base_Column_List">
        o_number AS "o_number",
        o_type AS "o_type",
        o_ststus AS "o_ststus",
        salesman AS "salesman",
        c_name AS "c_name",
        p_name AS "p_name",
        p_number AS "p_number",
        p_size AS "p_size",
        o_quantity AS "o_quantity",
        unit AS "unit",
        c_o_number AS "c_o_number",
        ordertime AS "ordertime",
        contacts AS "contacts",
        phone AS "phone",
        deliverydate AS "deliverydate",
        settlementdate AS "settlementdate",
        printtype AS "printtype",
        onlinenumber AS "onlinenumber",
        onlineamount AS "onlineamount",
        orderamount AS "orderamount",
        upload AS "upload",
        p_description AS "p_description",
        c_provide AS "c_provide",
        printask AS "printask",
        printafterask AS "printafterask",
        pinshaiask AS "pinshaiask",
        waifaask AS "waifaask",
        deliveryask AS "deliveryask",
        description AS "description",
        status AS "status"
        remarks AS "remarks",
        create_time AS "createTime",
        create_user AS "createUser",
        update_time AS "updateTime",
        update_user AS "updateUser",

    </sql>


    <select id="selectrMOrder" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from m_order m left JOIN  customer c ON m.c_name = c.c_number and
        status != 'DELETED'
        <!--<if test="searchType==''">-->
            <!--and (c_number like CONCAT('%',#{search},'%')-->
            <!--or c_name like CONCAT('%',#{search},'%')-->
            <!--or c_trade like CONCAT('%',#{search},'%')-->
            <!--or c_nature like CONCAT('%',#{search},'%')-->
            <!--or c_source like CONCAT('%',#{search},'%')-->
            <!--or c_type like CONCAT('%',#{search},'%')-->
            <!--or c_region like CONCAT('%',#{search},'%')-->
            <!--or salesman like CONCAT('%',#{search},'%')-->
            <!--or address like CONCAT('%',#{search},'%')-->
            <!--or discount like CONCAT('%',#{search},'%')-->
            <!--or contacts like CONCAT('%',#{search},'%')-->
            <!--or remarks like CONCAT('%',#{search},'%')-->
            <!--or phone like CONCAT('%',#{search},'%'))-->
        <!--</if>-->
        <!--<if test="searchType != null and searchType != ''">-->
            <!--and (${searchType} like CONCAT('%',#{search},'%'))-->
        <!--</if>-->
    </select>



</mapper>
